<div class="app-container">
  <div class="edit-btn-container">
    <button (click)="toggleEdit()">Edit Mode</button>
  </div>
  <form [formGroup]="eventForm">
    <div
      class="events-container"
      formArrayName="events"
      [ngClass]="{ 'events-edit': editMode }"
    >
      <div class="event-id event table-head" *ngIf="editMode">EventID</div>
      <div class="event-name event table-head">EventName</div>
      <div class="event-odds-first event table-head">OddsForFirstTeam</div>
      <div class="event-odds-draw event table-head">OddsForDraw</div>
      <div class="event-odds-second event table-head">OddsForSecondTeam</div>
      <div class="event-startDate event table-head">EventStartDate</div>
      <div class="event-delete table-head" *ngIf="editMode"></div>
      <div class="event-save table-head" *ngIf="editMode"></div>
      <ng-container
        *ngFor="let event of events; let i = index"
        [formGroupName]="i"
      >
        <div class="event-id event" *ngIf="editMode">
          <span>
            {{ event.id }}
          </span>
        </div>
        <div
          class="event-name event"
          [ngClass]="{
            'even-row': i % 2 && !editMode,
            'odd-row': !(i % 2) && !editMode,
            'event-expired': isEventExpired(event) && !editMode
          }"
        >
          <span *ngIf="!editMode">
            {{ event.name }}
          </span>
          <input
            type="text"
            class="event-edit-input"
            *ngIf="editMode"
            formControlName="name"
          />
        </div>
        <div
          class="event-odds-first event"
          [ngClass]="{
            'even-row': i % 2 && !editMode,
            'odd-row': !(i % 2) && !editMode,
            'event-expired': isEventExpired(event) && !editMode
          }"
        >
          <span *ngIf="!editMode">
            {{ event.oddsFirst | number: "1.2-2" }}
          </span>
          <input
            type="text"
            class="event-edit-input"
            *ngIf="editMode"
            formControlName="oddsFirst"
          />
        </div>
        <div
          class="event-odds-draw event"
          [ngClass]="{
            'even-row': i % 2 && !editMode,
            'odd-row': !(i % 2) && !editMode,
            'event-expired': isEventExpired(event) && !editMode
          }"
        >
          <span *ngIf="!editMode">
            {{ event.oddsDraw | number: "1.2-2" }}
          </span>
          <input
            type="text"
            class="event-edit-input"
            *ngIf="editMode"
            formControlName="oddsDraw"
          />
        </div>
        <div
          class="event-odds-second event"
          [ngClass]="{
            'even-row': i % 2 && !editMode,
            'odd-row': !(i % 2) && !editMode,
            'event-expired': isEventExpired(event) && !editMode
          }"
        >
          <span *ngIf="!editMode">
            {{ event.oddsSecond | number: "1.2-2" }}
          </span>
          <input
            type="text"
            class="event-edit-input"
            *ngIf="editMode"
            formControlName="oddsSecond"
          />
        </div>
        <div
          class="event-startDate event"
          [ngClass]="{
            'even-row': i % 2 && !editMode,
            'odd-row': !(i % 2) && !editMode,
            'event-expired': isEventExpired(event) && !editMode
          }"
        >
          <span *ngIf="!editMode">
            {{ event.startDate | date: "dd/MM/yyyy HH:mm" }}
          </span>
          <input
            type="datetime-local"
            class="event-edit-input"
            *ngIf="editMode"
            [value]="event.startDate | date: 'yyyy-MM-ddTHH:mm'"
            formControlName="startDate"
          />
        </div>
        <div
          class="event-delete event"
          *ngIf="editMode"
          (click)="deleteEvent(event.id)"
        >
          Delete
        </div>
        <div
          class="event-save event"
          *ngIf="editMode"
          (click)="updateEvent(event.id, i)"
          [ngClass]="{
            'event-save-invalid': eventForm.get('events').controls[i].invalid
          }"
        >
          Save
        </div>
      </ng-container>
    </div>
    <div class="add-new-btn-container">
      <button (click)="addNew()" *ngIf="editMode">Add new</button>
    </div>
  </form>
</div>
