:host input {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.edit-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.add-new-btn-container {
  margin-top: 10px;
}

.events-container {
  display: grid;
  grid-template-columns: auto 15% 10% 20% 15%;
  gap: 2px;
  width: 100%;
}

.events-edit {
  grid-template-columns: 7% auto 15% 10% 15% 15% 5% 3.5%;
}

.event {
  border: 1px solid black;
  text-align: center;
  font-weight: 300;
}
.table-head {
  font-weight: 700;
}
.odd-row {
  background-color: aliceblue;
}

.even-row {
  background-color: honeydew;
}
.event-expired {
  background-color: lightsalmon;
}

.event-edit-input {
  width: 100%;
}

::-webkit-datetime-edit {
  width: 100%;
  text-align: center;
}
::-webkit-clear-button {
  display: none;
}
::-webkit-inner-spin-button {
  display: none;
}
.event-delete,
.event-save {
  cursor: pointer;
}
.event-save-invalid {
  background-color: #cccccc;
  color: #666666;
}
